<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>JSGrid - Componente de Grid</h2>
				<p>Utilizando JSGrid com AngularJS</p>
				<hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-arrow-down"></i> Vídeo 1</h3>
                <br>
				<ul>
					<li><a href="#/grid1">Grid com dados estáticos</a>
					</li>
					<li><a href="#/grid2">Grid com dados vindos do servidor (Formato Json) </a>
					</li>
					<li><a href="#/grid3">Estilo CSS </a>
					</li>
					<li><a href="#/grid4">Ordenação de colunas </a>
					</li>
					<li><a href="#/grid5">Ajuste automático de tamanho </a>
					</li>
					<li><a href="#/grid6">Filtro </a>
					</li>
				</ul>
            </div>
			
			
    
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Assista outros vídeos</h4>
            <p>Acesse o Blog SW9 ou nosso canal no Youtube!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://blog.sw9.com.br">Veja outros vídeos!</a>
        </div>
    </div>
    <!-- /.row -->

</div>