<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Ativar navegação do site</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">SW9</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
               
                <li><a href="http://blog.sw9.com.br">Blog SW9</a>
                </li>
                <li><a href="http://mypocket.sw9.com.br">MyPocket</a>
                </li>
				<li><a href="http://checkmail.sw9.com.br">Checkmail Web</a>
                </li>
				
				<li><a href="http://emailvalidator.sw9.com.br">CheckMail Desktop</a>
                </li>
				
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Vídeo 1 - Opções <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/grid1">Grid com dados estáticos</a>
						</li>
						<li><a href="#/grid2">Grid com dados vindos do servidor (Formato Json) </a>
						</li>
						<li><a href="#/grid3">Estilo CSS </a>
						</li>
						<li><a href="#/grid4">Ordenação de colunas </a>
						</li>
						<li><a href="#/grid5">Ajuste automático de tamanho </a>
						</li>
						<li><a href="#/grid6">Filtro </a>
						</li>
						
                    </ul>
                </li>
				
				<li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Vídeo 2 - Opções <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/grid7">Barra de ferramentas</a>
						</li>
						<li><a href="#/grid8">Seleção de Linhas</a>
						</li>
						<li><a href="#/grid9">Paginação</a>
						</li>
						<li><a href="#/grid10">Exportação</a>
						</li>
						<li><a href="#/grid11">Idioma</a>
						</li>
						
                    </ul>
                </li>

				
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<br>
<br>
<br>